<VirtualHost *:443>
 ServerAdmin webmaster@centos.org
{% if vault_httpd_origin_node %}
 ServerName {{ vault_httpd_origin_hostname }}
{% else %}
 ServerName {{ vault_httpd_hostname }}
{% endif %}
 DocumentRoot {{ vault_local_path }}
 HeaderName /centos-design/header-centos-vault-mirror.html
 IndexIgnore .??* *~ *# HEADER* README* RCS CVS *,v *,t FOOTER.html

 Header always set Strict-Transport-Security "max-age=31536000"
 Header always set X-Xss-Protection "1; mode=block"
 Header always set X-Content-Type-Options "nosniff"
 Header always set Referrer-Policy "same-origin"
 Header always set X-Frame-Options "SAMEORIGIN"

{% if vault_httpd_mod_ratelimit and not vault_httpd_origin_node %}
# Spam rate-limit for bw usage, not included if used a origin node
<IfVersion >= 2.4>
 LoadModule ratelimit_module modules/mod_ratelimit.so
  <Location "/">
    SetOutputFilter RATE_LIMIT
    SetEnv rate-limit {{ vault_httpd_rate_limit }}
    SetEnv rate-initial-burst {{ vault_httpd_rate_limit * 1.5 }}
  </Location>
</IfVersion>
{% endif %}

{% if vault_httpd_origin_node %}
# Let's ensure that we'll deny request if secretheader shared with cdn upstream doesn't match
RewriteEngine on
RewriteCond %{HTTP:X-CDNSecretHeader} !^{{ vault_httpd_origin_secret }}$
RewriteRule ^ - [F]
{% endif %}

#Directory Permissions
 <Directory "{{ vault_local_path }}">
  AllowOverride Indexes
  Options Indexes FollowSymLinks 
  <IfVersion < 2.4>
    Order allow,deny
    Allow from all
  </IfVersion>
  <IfVersion >= 2.4>
    IndexOptions NameWidth=* 
    IndexStyleSheet "/centos-design/css/centos-listindex.css"
    Require all granted
  </IfVersion>
 </Directory>

ErrorLog logs/ssl-vault.centos.org_error.log
TransferLog logs/ssl-vault.centos.org_access.log
LogLevel warn
SSLEngine on
{{ httpd_tls_ciphers }}

{% if vault_httpd_origin_node %}
SSLCertificateFile /etc/pki/tls/certs/{{ vault_httpd_origin_hostname }}.crt
SSLCertificateKeyFile /etc/pki/tls/private/{{ vault_httpd_origin_hostname }}.key
SSLCertificateChainFile /etc/pki/tls/certs/{{ vault_httpd_origin_hostname }}-CAChain.crt
{% else %}
SSLCertificateFile /etc/pki/tls/certs/{{ vault_httpd_hostname }}.crt
SSLCertificateKeyFile /etc/pki/tls/private/{{ vault_httpd_hostname }}.key
SSLCertificateChainFile /etc/pki/tls/certs/{{ vault_httpd_hostname }}-CAChain.crt
{% endif %}

<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>
SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
CustomLog logs/ssl-vault.centos.org_request.log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>                               


